
 body {
  background: linear-gradient(to right, #1c1c1c, #2b2b2b, #2b2b2b, #2b2b2b, #2b2b2b, #2b2b2b, #1c1c1c);
  color: #d6d6d6;
}

a {
  color: #9968c1;

}

a:hover {
  color: #9968c1;
  text-decoration: none;
}

label {
  color: #81dbb1;
}

button:hover {
  cursor: pointer;
}

.reply p {
   color: #81dbb1;
}

.lead {
  color: #81dbb1;
}

.jumbotron {
  background-color: transparent;
  color: #81dbb1;
}

.container-padding {
  margin: 20px;
}

#tracktracker, #cssreact, #cssdesign, #csharpdotnet, #javaandroid, #pickany, #portland-housing{
  display: none;
}
